<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" width="200" height="70" class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link colour-me" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link colour-me" href="#">Articles</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle colour-me" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Community
              </a>
              <ul class="dropdown-menu colour-me" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">News</a></li>
                <li><a class="dropdown-item" href="#">Medical</a></li>
                <li><a class="dropdown-item" href="#">Politics</a></li>
                <!-- <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link colour-me" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link colour-me" href="#">Contact Us</a>
            </li>
          </ul>
          
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle welcome" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user"></i>&nbsp; Welcome User !!
              </a>
              <ul class="dropdown-menu colour-me" aria-labelledby="navbarDropdown">
                <li><button class="dropdown-item drop" href="#"><i class="fa fa-plus-square"></i>&nbsp;Create Article</button></li>
                <li><button class="dropdown-item drop" href="#"><i class="fa fa-user"></i>&nbsp;Profile</button></li>
                <li><button class="dropdown-item drop" href="#" (click) = "close()"><i class="fa fa-sign-out"></i>&nbsp;Logout</button></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br><br><br>
</div>

<div class="container">
    <h1 class="text-center">Create Article</h1>
    <form>
        <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title..">
        </div>
        
        <div class="mb-3">
            <label for="formFile" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="formFile">
          </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="4"></textarea>
          </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-danger me-md-2">Close</button>
            <button class="btn btn-primary me-md-2" type="button">Save as Draft</button>
            <button class="btn btn-success" type="button">Publish Live</button>
        </div>
    </form>
</div>